h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

#content {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  color: #666;
  padding: 60px 0 120px;
}

p {
  color: #666;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  margin: 0;
}

a {
  transition: color 0.2s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #222;
  /*padding-top: 60px;*/
  border-top: 4px solid #555;
  color: #ccc;
}

.footer-widget h4 {
  color: #eee;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.footer-widget h4 .head-line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #333;
  margin: 0;
}

footer p {
  color: #ccc;
}

.footer-widget {
  margin-bottom: 45px;
}

.social-widget ul.social-icons li {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
}

footer a {
  color: #666;
}

a, a:hover {
  text-decoration: none;
}

.social-widget ul.social-icons li a i {
  font-size: 1.4em;
  width: 36px;
  height: 36px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  display: block;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.social-widget ul.social-icons li a.facebook:hover i {
  background-color: #507CBE;
}

.social-widget ul.social-icons li a.twitter:hover i {
  background-color: #63CDF1;
}

.social-widget ul.social-icons li a.google:hover i {
  background-color: #F16261;
}

.social-widget ul.social-icons li a.dribbble:hover i {
  background-color: #E46387;
}

.social-widget ul.social-icons li a.linkdin:hover i {
  background-color: #90CADD;
}

.social-widget ul.social-icons li a.flickr:hover i {
  background-color: #E474AF;
}

.social-widget ul.social-icons li a.tumblr:hover i {
  background-color: #4D7EA3;
}

.social-widget ul.social-icons li a.instgram:hover i {
  background-color: #4D4F54;
}

.social-widget ul.social-icons li a.vimeo:hover i {
  background-color: #87D3E0;
}

.social-widget ul.social-icons li a.skype:hover i {
  background-color: #36C4F3;
}

.twitter-widget ul li {
  margin-bottom: 20px;
}

.twitter-widget a {
  color: #ee3733;
}

.twitter-widget a:hover {
  color: #43B9CD;
  text-decoration: underline;
}

.twitter-widget ul li span {
  color: #666;
}

.flickr-widget ul {
  overflow: hidden;
}

.flickr-widget ul li {
  float: left;
  margin-left: 8px;
  margin-bottom: 8px;
}

.flickr-widget ul li:nth-child(3n+1) {
  margin-left: 0;
}

.flickr-widget ul li a {
  display: inline-block;
  width: 80px;
  opacity: 0.6;
  border-radius: 2px;
  border: 4px solid #333;
  transition: all 0.2s ease-in-out;
}

.flickr-widget ul li a:hover {
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.flickr-widget ul li a img {
  width: 100%;
  height: 65px;
}

.contact-widget p {
  padding-bottom: 20px;
}

.contact-widget ul li {
  margin-bottom: 12px;
}

.copyright-section {
  padding: 15px 0;
  font-size: 11px;
  letter-spacing: 0.5px;
  /*border-top: 1px solid rgba(255, 255, 255, .06);*/
  text-align: center;
}

.copyright-section p {
  font-size: 11px;
  /*text-transform: uppercase;*/
}

.copyright-section p a {
  color: #ee3733;
}

.copyright-section p a:hover {
  text-decoration: none;
  color: #fff;
}

ul.footer-nav {
  float: right;
}

ul.footer-nav li:first-child {
  margin-left: 0;
}

ul.footer-nav li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

ul.footer-nav li a:hover {
  color: #fff;
}

ul.footer-nav li {
  display: inline-block;
  float: left;
  margin-left: 15px;
}

.back-to-top {
  position: fixed;
  bottom: 18px;
  right: 15px;
}

.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  background-color: #444;
  transition: all 0.2s ease-in-out;
}

.back-to-top:hover i {
  background-color: #ee3733;
  z-index: 100;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .flickr-widget ul li:nth-child(3n+1) {
    margin-left: 8px;
  }

  .flickr-widget h4 {
    margin-left: 8px;
  }
}
