<!-- Start Header Section -->
<header class="clearfix fixed-header">

  <!-- Start  Logo & Naviagtion  -->
  <div id="navigation" class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand" href="#top" (click)="scrolling($event)">
          <img alt="logo" src="../../assets/margo.png">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <!-- Start Navigation List -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#video-block" (click)="scrolling($event)" class="active">Home</a>
          </li>
          <li>
            <a href="#about" (click)="scrolling($event)">About</a>
          </li>
          <li>
            <a href="#sills" (click)="scrolling($event)">Sills</a>
          </li>
          <li>
            <a href="#portfolio" (click)="scrolling($event)">Portfolio</a>
          </li>
          <li>
            <a href="#team" (click)="scrolling($event)">Team</a>
          </li>
          <li><a href="#contact" (click)="scrolling($event)">Contact</a>
          </li>
        </ul>
        <!-- End Navigation List -->
      </div>
    </div>

</div>
 <!--End Header Logo & Naviagtion -->

</header>
<!-- End Header Section -->

