<!-- Start Header Section -->
<header class="clearfix">

  <!-- Start  Logo & Naviagtion  -->
  <div id="navigation" class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand" href="#">
          <img alt="logo" src="#">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <!-- Start Navigation List -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="active" href="">Home</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li>
            <a href="#">Skills</a>
          </li>
          <li><a href="#">Contact</a>
          </li>
        </ul>
        <!-- End Navigation List -->
      </div>
    </div>

  </div>
  <!--End Header Logo & Naviagtion -->

</header>
<!-- End Header Section -->

