@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
/*------------------------------------------*/
/*	     01 - General & Basic Styles
/*------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  color: #666;
}
a, a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
