<!--main video start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="video-block">
      <div id="video">
        <video id="my-video" width="320" height="240" loop autoplay muted plays-inline>
          <source [src]="mainVideo" type="video/mp4">
        </video>
        <div class="text-video">
          <h2 class="animated2">
            <span>Welcome to <span style="color: #ee3733"><strong>ngMates</strong></span></span>
          </h2>
          <h3 class="animated3">
            <span><strong>We provide good solutions to your business</strong></span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--main video end-->

<!--about section start-->
<div id="about">
  <div class="container wow">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="section-title">About Us</h3>
        </div>
        <div class="section-title-divider"></div>
        <h4 class="section-description">NgMates is a forward thinking company. We find creative solutions that move concepts into the future for our clients</h4>
      </div>
    </div>
  </div>
  <div class="container about-container wow" >
    <div class="row">
      <div class="col-md-6 about-img">
        <img class="img-responsive" src="../../assets/images/about-us.jpg" alt="">
      </div>

      <div class="col-md-6 about-content">
        <!--<h2 class="about-title text-center">We provide great services and ideas</h2>-->
        <p class="about-text">
          NgMates is a professional programing company based in Ukraine. We supply services of web design & development and provide end-to-end services
          for web and mobile application development & deployment. Our company works on a wide range of technologies ranging from open source to proprietary and
          custom built solutions, to deliver full spectrum of modern services to our customers globally.</p>
        <p class="about-text">
          We are always focused on your needs, that's why our works are so good</p>
        <p class="about-text">
          We build dynamic web applications, websites and online software using fantastic technology framework like ANGULAR. We believe that Angular is
          one solution for all devices. And we know how to do that in a good way.</p>
    </div>
  </div>
</div>
<!--about us section end-->

<!-- Start Services Section -->
<div class="section service" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="section-title">WHAT SERVICES WE PROVIDE?
          </h3>
        </div>
        <div class="section-title-divider"></div>
        <h4 class="section-description">Professional and highly skilled JavaScript developers provide implementation of Angular in the web application</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <!-- Start Service Icon 1 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center  animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <i class="fa fa-leaf icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Custom Development Solutions</h4>
        </div>
      </div>
      <!-- End Service Icon 1 -->

      <!-- Start Service Icon 2 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center  animated fadeIn delay-02" data-animation="fadeIn" data-animation-delay="02">
        <div class="service-icon">
          <i class="fa fa-desktop icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Angular Web Development</h4>
        </div>
      </div>
      <!-- End Service Icon 2 -->

      <!-- Start Service Icon 3 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center  animated fadeIn delay-03" data-animation="fadeIn" data-animation-delay="03">
        <div class="service-icon">
          <i class="fa fa-eye icon-large"></i>
        </div>
        <div class="service-content">
          <h4>UX/UI Design for all Devices</h4>
        </div>
      </div>
      <!-- End Service Icon 3 -->

      <!-- Start Service Icon 4 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-04" data-animation="fadeIn" data-animation-delay="04">
        <div class="service-icon">
          <i class="fa fa-code icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Software Integration</h4>
        </div>
      </div>
      <!-- End Service Icon 4 -->

      <!-- Optional: clear the XS cols if their content doesn't match in height -->
      <div class="clearfix visible-lg-block"></div>

      <!-- Start Service Icon 5 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-05" data-animation="fadeIn" data-animation-delay="05">
        <div class="service-icon">
          <i class="fa fa-rocket icon-large"></i>
        </div>
        <div class="service-content">
          <h4>SEO and Growth Support</h4>
        </div>
      </div>
      <!-- End Service Icon 5 -->

      <!-- Start Service Icon 6 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-06" data-animation="fadeIn" data-animation-delay="06">
        <div class="service-icon">
          <i class="fa fa-tablet icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Angular Cross Platform Development</h4>
        </div>
      </div>
      <!-- End Service Icon 6 -->

      <!-- Start Service Icon 7 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-07" data-animation="fadeIn" data-animation-delay="07">
        <div class="service-icon">
          <i class="fa fa-server icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Domain and Hosting</h4>
        </div>
      </div>
      <!-- End Service Icon 7 -->
      <!-- Start Service Icon 8 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-08" data-animation="fadeIn" data-animation-delay="08">
        <div class="service-icon">
          <i class="fa fa-umbrella icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Support & Maintenance</h4>
        </div>
      </div>
      <!-- End Service Icon 8 -->

    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- End Services Section -->


<!--portfolio section start-->
<div id="portfolio" class="full-width-portfolio" style="border-top:0; border-bottom:0; background:#fff;">

  <!-- Start Big Heading -->
  <div class="text-center">
    <h1 class="section-title">These are Our Latest Works</h1>
  </div>
  <div class="section-title-divider"></div>
  <h4 class="section-description">We listen our clients - that's why the result is always good</h4>
  <ul id="portfolio-list" class="container-fluid">
    <div class="row">
      <li class="col-md-3 col-xs-6">
        <img src="../../assets/images/portfolio-1.png" class="img-responsive"  alt="">
        <div class="portfolio-item-content">
          <span class="header">PYTT Living</span>
          <p class="body">web develpment, design</p>
        </div>
        <a href="https://pytt-living.com/" target="_blank"><i class="more">+</i></a>

      </li>
      <li class="col-md-3 col-xs-6">
        <img src="../../assets/images/portfolio-2.png" class="img-responsive" alt="">
        <div class="portfolio-item-content">
          <span class="header">JoinUp Lviv</span>
          <p class="body">web develpment, design</p>
        </div>
        <a href="http://joinuplviv.com/" target="_blank"><i class="more">+</i></a>

      </li>
      <li class="col-md-3 col-xs-6">
        <img src="../../assets/images/portfolio-3.png" class="img-responsive" alt="">
        <div class="portfolio-item-content">
          <span class="header">Leading Minds</span>
          <p class="body">web develpment, design</p>
        </div>
        <a href="http://leadingminds.co/" target="_blank"><i class="more">+</i></a>

      </li>
      <li class="col-md-3 col-xs-6">
        <img src="../../assets/images/portfolio-4.png" class="img-responsive" alt="">
        <div class="portfolio-item-content">
          <span class="header">NetworkTables</span>
          <p class="body">web develpment, design</p>
        </div>
        <a href="http://www.networktables.com/homeA/" target="_blank"><i class="more">+</i></a>
      </li>
    </div>
    <div class="row">
      <li class="col-md-3 col-xs-6">
        <img src="../../assets/images/portfolio-5.png" class="img-responsive" alt="">
        <div class="portfolio-item-content">
          <span class="header">Lofting.co</span>
          <p class="body">web develpment, design</p>
        </div>
        <a href="http://concept.lofting.co/" target="_blank"><i class="more">+</i></a>

      </li>
      <li class="col-md-3 col-xs-6">
        <img src="../../assets/images/portfolio-6.png" class="img-responsive" alt="">
        <div class="portfolio-item-content">
          <span class="header">Api PRO</span>
          <p class="body">web develpment, design</p>
        </div>
        <a href="http://www.apipro.com/" target="_blank"><i class="more">+</i></a>

      </li>
      <li class="col-md-3 col-xs-6">
        <img src="../../assets/images/language-school.jpg" class="img-responsive" alt="">
        <div class="portfolio-item-content">
          <span class="header">Language School</span>
          <p class="body">web develpment, design</p>
        </div>
        <a href="http://linguist.lviv.ua/" target="_blank"><i class="more">+</i></a>
      </li>
      <li class="col-md-3 col-xs-6">
        <img src="../../assets/images/lenovo.jpg" class="img-responsive" alt="">
        <div class="portfolio-item-content">
          <span class="header">Lenovo</span>
          <p class="body">web develpment, design</p>
        </div>
        <a href="https://genyklemberg.github.io/L-files/public/" target="_blank"><i class="more">+</i></a>
      </li>
    </div>
  </ul>
</div>
<!--portfolio section end-->

<!--our team section start-->

<div id="team" class="section">
  <div class="container">
    <div class="text-center">
      <h1 class="section-title">Our Great Team</h1>
    </div>
    <div class="section-title-divider"></div>
    <h4 class="section-description">We do what we love and we hope you'll love it too</h4>
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-12 col-md-offset-1 animated fadeIn delay-03" data-animation="fadeIn" data-animation-delay="05">
        <div class="team-member modern">
          <div class="member-photo">
            <img alt="" src="../../assets/evg.jpg">
            <div class="member-name">Yevheniy Potupa<span>Founder/PM</span>
            </div>
          </div>
          <!--<div class="member-info">-->
            <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>-->
          <!--</div>-->

        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 animated fadeIn delay-04" data-animation="fadeIn" data-animation-delay="06">
        <div class="team-member modern">
          <div class="member-photo">
            <img alt="" src="../../assets/oks.jpg">
            <div class="member-name">Drul Oksana <span>Developer</span>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 animated fadeIn delay-05" data-animation="fadeIn" data-animation-delay="05">
        <div class="team-member modern">
          <div class="member-photo">
            <img alt="" src="../../assets/mar.jpg">
            <div class="member-name">Mariana Diachok <span>Developer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 animated fadeIn delay-06" data-animation="fadeIn" data-animation-delay="05">
        <div class="team-member modern">
          <div class="member-photo">
            <img alt="" src="../../assets/rox.jpg">
            <div class="member-name">Roksolana Mykhalenych <span>Developer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 animated fadeIn delay-06" data-animation="fadeIn" data-animation-delay="05">
        <div class="team-member modern">
          <div class="member-photo">
            <img alt="" src="../../assets/vova.jpg">
            <div class="member-name">Volodymyr Kmet <span>Developer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Contact Form -->
<div id="contact">
  <div class="text-center">
    <h1 class="section-title">GET IN TOUCH</h1>
  </div>
  <div class="section-title-divider"></div>
  <h4 class="section-description">We love working with new people, please share your details, so that we can assist you!</h4>
  <p></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Contact Us</span></h4>

        <!-- Start Contact Form -->
        <form role="form" id="contactForm" data-toggle="validator" class="shake" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <div class="controls">
              <input
                type="text"
                placeholder="Name"
                required
                name="name"
                #name="ngModel"
                ngModel>
              <div class="help-block with-errors" *ngIf="!name.valid && name.touched">
                <p>Please enter your name</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <input
                type="email"
                class="email"
                placeholder="Email" required
                name="email"
                email
                ngModel
                #email="ngModel"
              >
              <div class="help-block with-errors"  *ngIf="!email.valid && email.touched">
                <p>Please enter your email</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <input type="text"
                     placeholder="Subject" required
                     name="subject"
                     ngModel
                     #subject="ngModel"
              >
              <div class="help-block with-errors"  *ngIf="!subject.valid && subject.touched">
                <p>Please enter your message subject</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <textarea
                rows="7"
                placeholder="Massage"
                required
                name="message"
                #message="ngModel"
                ngModel></textarea>
              <div class="help-block with-errors"  *ngIf="!message.valid && message.touched">
                <p>Write your message</p>
              </div>
            </div>
          </div>
          <button type="submit" id="submit" class="btn-system btn-large" [disabled]="!f.valid">Send</button>
          <div id="msgSubmit" class="h3 text-center" [style.display]="f.submitted ? 'block' : 'none'">
            <h1>Message has been sent</h1>
          </div>
          <div class="clearfix"></div>
        </form>
        <!-- End Contact Form -->

      </div>
      <div class="col-md-4">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Information</span></h4>

        <!-- Divider -->
        <div class="hr1" style="margin-bottom:10px;"></div>

        <!-- Info - Icons List -->
        <ul class="icons-list">
          <li><i class="fa fa-globe"> </i> <strong>Address:</strong> 4 Vesniana Str, Lviv, Ukraine</li>
          <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> y.potupa@gmail.com</li>
          <li><i class="fa fa-mobile"></i> <strong>Phone:</strong> +38 095 281 6678</li>
          <li><i class="fa fa-skype"></i> <strong>Skype:</strong> yevheniy.potupa</li>
        </ul>

        <!-- Divider -->
        <div class="hr1" style="margin-bottom:15px;"></div>

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Working Hours</span></h4>

        <!-- Info - List -->
        <ul class="list-unstyled">
          <li><strong>Monday - Friday</strong> - 9am to 5pm</li>
          <li><strong>Saturday</strong> - 9am to 2pm</li>
          <li><strong>Sunday</strong> - Closed</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--============team section end=========-->
